[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dotenv-python = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
pillow = "*"
djoser = "*"
djangorestframework = "*"
python-dotenv = "*"
django-colorfield = "*"
django-admin-list-filter-dropdown = "*"
django-admin-searchable-dropdown = "*"
django-filter = "*"
install = "*"
django-cors-headers = "*"

[dev-packages]
django-admin-interface = "*"

[requires]
python_version = "3.9"
