<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project !!</title>
</head>
{% load static %}
<body style="background-color: #59D2B0F9;" align="center">
    <h1 class="mt-5" style="color:aliceblue;">
        Hey, welcome to my project.
    </h1>
    <img align="center" src="{% static '/media/welcome.png' %}" alt="">
</body>
</html>